<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website Burhan | {{title}}</title>
  <!-- Favicons -->
  <link href="{{url_for('static', filename='lib/img/favicon.ico')}}" rel="icon">

  <!-- icon fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='lib/bootstrapv5/css/animate.min.css')}}" type="text/css" rel="stylesheet">
  
  <!-- css -->
  <link href="{{url_for('static', filename='lib/bootstrapv5/css/bootstrap5.css')}}" type="text/css" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/bootstrapv52/css/bootstrap.css')}}" type="text/css" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/bootstrapv5/css/bootstrap-icons.css')}}" type="text/css" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/bootstrapv5/css/style.css')}}" type="text/css" rel="stylesheet">
  
  
  <!-- js -->
  <script src="{{url_for('static', filename='lib/bootstrapv5/js/jquery-3.6.0.js')}}" type="text/javascript"></script>
  
</head>
<body>
  {%block body %}
  {% endblock %}

  <footer class="footer bg-transparent">
    <!-- <nav class="navbar fixed-bottom navbar-light bg-transparent"> -->
      <div class="container-fluid d-flex justify-content-center text-center bg-transparent">
        <div class="copyright">
          &copy; Copyright 2022 <strong>Mohamad Burhanudin</strong>. All Rights Reserved
        </div>
      </div>
    <!-- </nav> -->
  </footer>

  <script src="{{url_for('static', filename='lib/bootstrapv5/js/jquery-3.6.0.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='lib/bootstrapv52/js/bootstrap.bundle.js')}}" type="text/javascript"></script>
</body>
</html>
