  <!-- Favicons -->
  <link href="{{url_for('static', filename='lib/img/favicon.ico')}}" rel="icon">

  <!-- icon fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='lib/bootstrapv5/css/animate.min.css')}}" type="text/css" rel="stylesheet">

  <!-- css -->
  <link href="{{url_for('static', filename='lib/bootstrapv5/css/bootstrap5.css')}}" type="text/css" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/bootstrapv52/css/bootstrap.css')}}" type="text/css" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/bootstrapv5/css/bootstrap-icons.css')}}" type="text/css" rel="stylesheet">
  <link href="{{url_for('static', filename='lib/bootstrapv5/css/style.css')}}" type="text/css" rel="stylesheet">