<nav class="navbar navbar-dark bg-dark bg-gradient shadow p-3 mb-5 bg-dark" aria-label="light offcanvas navbar">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="#">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
        <span class="navbar-toggler-icon"></span>
      </button>
    </a>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a id="home" class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Tentang</a>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#About"><a>About</a></button></li>
          <li><button class="dropdown-item" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Contact"><a>Contact</a></button></li>
          <li><a class="dropdown-item" href="#">&emsp; Galery</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" class="btn"><a href="{{ url_for('tblUser') }}">User</a></button></li>
          <li><button class="dropdown-item" type="button" class="btn"><a href="{{ url_for('tblLP') }}">Landing Page</a></button></li>
          <li><a class="dropdown-item" href="#">&emsp; Galery</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="return confirm('Apakah Anda Yakin?')" href="{{ url_for('logout') }}">Logout</a>
      </li>
    </ul>
    
    <div class="offcanvas offcanvas-start text-white bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">{{username}}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body text-white bg-dark">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDarkDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDarkDropdown">
              <li><a class="dropdown-item" href="{{ url_for('tblUser') }}">User</a></li>
                <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="#">Landing Page</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Galery</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="return confirm('Apakah Anda Yakin Keluar?')" href="{{ url_for('index') }}">Logout</a>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>