{% extends "base/base.html" %}
	{% block body %}
		<!-- <h2>TUGAS 3 PAWL</h2>
		<p>Selamat Datang <b>{{ username }}</b>.</p>
		{% for kolom in tabel %}
		Level : <b>{{ kolom[5]}}</b>.
		{% endfor %}
		<P></P>
		<a href="{{ url_for('logout') }}">Logout</a>  -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1">
					<!--  -->
				</div>
				<!-- content -->
				<div class="col-md-10">
					<!-- nav head -->
					<nav class="navbar bg-gradient shadow p-3 mb-5 bg-dark rounded">
						<div class="container-fluid bg-transparent">
							<a class="navbar-brand active" href="#">
								<img src="{{url_for('static', filename='lib/img/favicon.png')}}" alt="" width="30" height="24" class="d-inline-block align-text-center">
								Mohamad Burhanudin
							</a>
							<ul class="nav nav-tabs">
								<li class="nav-item">
									<a id="home" class="nav-link" aria-current="page" href="#">Home</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Tentang</a>
									<ul class="dropdown-menu">
										<li><button class="dropdown-item" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#About"><a>About</a></button></li>
										<li><button class="dropdown-item" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Contact"><a>Contact</a></button></li>
										<li><a class="dropdown-item" href="#">&emsp; Galery</a></li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ url_for('index') }}">Materi</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" onclick="return confirm('Apakah Anda Yakin Keluar?')" href="{{ url_for('logout') }}">Logout</a>
								</li>
							</ul>
						</div>
					</nav>
					<!-- end nav head -->
					<!-- moadl -->
					<!-- modal About -->
				<div class="modal fade" id="About" tabindex="-1" aria-labelledby="AboutLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content text-light bg-secondary">
							<div class="modal-header">
								<h5 class="modal-title" id="AboutLabel">About</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-lg-4">
										<img src="https://avatars.githubusercontent.com/u/73084755?v=4" class="rounded card-img-top" alt="...">
									</div>
									<div class="col-lg-8">
										<a href="">
											<i class="bi bi-arrow-right-square-fill"></i>
											<strong>Nama: </strong>
											<span>Mohamad Burhanudin</span><br>
										</a>
										<a href="">
											<i class="bi bi-arrow-right-square-fill"></i>
											<strong>NIM: </strong>
											<span>202103034</span><br>
										</a><br>
										<strong>Tujuan </strong><span>dari pembuatan website ini adalah untuk memenuhi <strong>Tugas Akhir PAWL</strong> yang diampu oleh <strong>Pak Kharisma S.T., M.Cs.</strong></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- modal About -->
				<!-- modal contact -->
				<div class="modal fade" id="Contact" tabindex="-1" aria-labelledby="ContactLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content bg-secondary text-light">
							<div class="modal-header bg-success text-light">
								<h5 class="modal-title" id="ContactLabel">Contact Me</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-lg-4">
										<img src="https://avatars.githubusercontent.com/u/73084755?v=4" class="rounded-circle card-img-top" alt="...">
									</div>
									<div class="col-lg-8">
										<a href="">
											<i class="bi bi-whatsapp"></i>
											<strong><a href="https://wa.me/6285287487322">085287487322</a></strong>
										</a><br>
										<a href="">
											<i class="bi bi-github"></i>
											<strong><a href="https://github.com/mohamadburhan151">mohamadburhan151</a></strong>
										</a><br>
										<a href="">
											<i class="bi bi-instagram"></i>
											<strong><a href="https://www.instagram.com/_mohamad_burhanudin_/">_mohamad_burhanudin_</a></strong>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					<!-- isi content -->
					
					<div class="container-fluid mt-4">
						<div class="row col-md-12 ">
							<div class="col ">
								<div class="card shadow p-3" style="width: 16rem;">
									<img src="https://algorit.ma/wp-content/uploads/2022/02/Python-Logo-1030x644.png" class="card-img-top" alt="...">
									<div class="card-body">
										<a href="{{ url_for('varData') }}"><h5 class="card-title">Variable dan Tipe Data</h5></a>
										<p class="card-text">variabel dan tipe data pada Python</p>
									</div>
								</div>
							</div>
							<div class="col mb-4">
								<div class="card shadow p-3" style="width: 16rem;">
									<img src="https://algorit.ma/wp-content/uploads/2022/02/Python-Logo-1030x644.png" class="card-img-top" alt="...">
									<div class="card-body">
										<a href="https://www.petanikode.com/python-input-output/"><h5 class="card-title">Input dan Output di Python</h5></a>
										<p class="card-text">Cara Mengambil Input dan Menampilkan Output pada Python</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card shadow p-3" style="width: 16rem;">
									<img src="https://algorit.ma/wp-content/uploads/2022/02/Python-Logo-1030x644.png" class="card-img-top" alt="...">
									<div class="card-body">
										<a href="https://www.petanikode.com/python-operator/"><h5 class="card-title">Operator di Python</h5></a>
										<p class="card-text">Mempelajari Operator pada Python</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card shadow p-3" style="width: 16rem;">
									<img src="https://algorit.ma/wp-content/uploads/2022/02/Python-Logo-1030x644.png" class="card-img-top" alt="...">
									<div class="card-body">
										<a href=""><h5 class="card-title">Percabangan di Python</h5></a>
										<p class="card-text">Mempelajari Percabangan pada Python</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card shadow p-3" style="width: 16rem;">
									<img src="https://algorit.ma/wp-content/uploads/2022/02/Python-Logo-1030x644.png" class="card-img-top" alt="...">
									<div class="card-body">
										<a href=""><h5 class="card-title">Perulangan di Python</h5></a>
										<p class="card-text">Mempelajari Perulangan pada Python</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card shadow p-3" style="width: 16rem;">
									<img src="https://algorit.ma/wp-content/uploads/2022/02/Python-Logo-1030x644.png" class="card-img-top" alt="...">
									<div class="card-body">
										<a href=""><h5 class="card-title">Struktur List di Python</h5></a>
										<p class="card-text">Mempelajari Struktur List pada Python</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card shadow p-3" style="width: 16rem;">
									<img src="https://algorit.ma/wp-content/uploads/2022/02/Python-Logo-1030x644.png" class="card-img-top" alt="...">
									<div class="card-body">
										<a href=""><h5 class="card-title">Struktur Tuple di Python</h5></a>
										<p class="card-text">Mempelajari Struktur Tuple pada Python</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card shadow p-3" style="width: 16rem;">
									<img src="https://algorit.ma/wp-content/uploads/2022/02/Python-Logo-1030x644.png" class="card-img-top" alt="...">
									<div class="card-body">
										<a href=""><h5 class="card-title">Struktur Dictionary di Python</h5></a>
										<p class="card-text">Mempelajari Struktur Dictionary pada Python</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card shadow p-3" style="width: 16rem;">
									<img src="https://algorit.ma/wp-content/uploads/2022/02/Python-Logo-1030x644.png" class="card-img-top" alt="...">
									<div class="card-body">
										<a href=""><h5 class="card-title">Fungsi di Python</h5></a>
										<p class="card-text">Mempelajari Fungsi pada Python</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card shadow p-3" style="width: 16rem;">
									<img src="https://algorit.ma/wp-content/uploads/2022/02/Python-Logo-1030x644.png" class="card-img-top" alt="...">
									<div class="card-body">
										<a href=""><h5 class="card-title">Perulangan di Python</h5></a>
										<p class="card-text">Mempelajari Perulangan pada Python</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid mt-4 ">
					<div class="row d-flex justify-content-center">
						<div class="col-md-10">
							<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active" data-bs-interval="3000">
										<img src="{{url_for('static', filename='lib/img/favicon.png')}}" class=" rounded mx-auto d-block w-70" alt="...">
									</div>
									<div class="carousel-item" data-bs-interval="3000">
										<img src="{{url_for('static', filename='lib/img/favicon.png')}}" class="rounded mx-auto d-block w-70" alt="...">
									</div>
									<div class="carousel-item" data-bs-interval="3000">
										<img src="{{url_for('static', filename='lib/img/favicon.png')}}" class="rounded mx-auto d-block w-70" alt="...">
									</div>
								</div>
								<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- end isi content -->
				<!-- end content -->
				<div class="col-md-1">
					<!--  -->
				</div>	
					
			</div>
		</div>

		{% endblock %}