<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>TUGAS 3 PAWL</title>
		
	</head>
	<body>
		<h2>Form Pendaftaran</h2>
		{% if msg %}
			<p style="color:red;">{{ msg }}</p>
		{% endif %}
		<form action="{{ url_for('signUp') }}" method="post">
			Nama lengkap : <br />
			<input type="text" name="nama" id="" value="" /><br />
      
			Username : <br />
			<input type="text" name="username" id="" value="" /><br />

			Password : <br />
			<input type="password" name="password" id="" value="" /><br />

			<input type="hidden" name="keterangan" value="user">
			
			<p>
			<button type="submit">Daftar</button>
			</p>
			<p>
				Sudah punya akun?. silahkan <a href="{{ url_for('login') }}">Login</a>
			</p>
		</form>
	</body>
</html>